
Platform/__init__.pyc

Platform/admin.pyc

Platform/settings.pyc

Platform/models.pyc

Platform/urls.pyc

Platform/views.pyc

Platform/wsgi.pyc

Assignments/__init__.pyc

Assignments/admin.pyc

Assignments/models.pyc

Assignments/urls.pyc

Assignments/views.pyc

Groups/__init__.pyc

Groups/admin.pyc

Groups/models.pyc
