{% extends "base.html" %}

{% block id %}

 	<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">Penelope</a>
        <div class="btn-group pull-right">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-user"></i> {{ user.username }} ({{user.userprofile.status}})
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Profil (nothing)</a></li>
            <li class="divider"></li>
            <li><a href="/logout/">Logout</a></li>
          </ul>
        </div>
        <div class="nav-collapse collape">
          <ul class="nav">
            <li class="active"><a href="/">Dashboard</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>


{% endblock %}