{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Dashboard</h1>
</div>    

{% if user.userprofile.status = 'student' %}

    <h2>Courses :</h2>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Teacher</th>
            <th>Year</th>
          </tr>
        <thead>
        <tbody>
          {% for Course in user.userprofile.courses_list.all %}
          <tr>
            <td><a href="/{{Course.id}}/details">{{Course.name}}</a></td>
            <td>{{Course.owner}}</td>
            <td>{{Course.years}}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>

{% else %}
    
    <h2>My courses :</h2>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Year</th>
          </tr>
        </tr>
        <tbody>
          {% for Course in mycourse_list %}
          <tr>
            <td><a href="/{{Course.id}}/details">{{Course.name}}</a></td>
            <td>{{Course.years}}</td>
          </tr>
        {% endfor %}
        </tbody>
    </table>

    <p><a class='btn btn-primary' href="/newcourse/">Add a course</a></p>

{% endif %}

{% endblock %}
