{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    

{% if user.userprofile.status = 'student' %}

    <h2>Courses :</h2>

    <table class="table table-striped">
        <tr>
        <thead>
            <th>Name</th>
            <th>Teacher</th>
            <th>Year</th>
        <thead>
        </tr>
        {% for Course in user.userprofile.courses_list.all %}
        <tr>
            <td><a href="/{{Course.id}}/details">{{Course.name}}</a></td>
            <td>{{Course.owner}}</td>
            <td>{{Course.years}}</td>
        </tr>
        {% endfor %}
    </table>

{% else %}
    
    <h2>My courses :</h2>

    <table class="table table-striped">
        <tr>
        <thead>
            <th>Name</th>
            <th>Year</th>
        <thead>
        </tr>
        {% for Course in mycourse_list %}
        <tr>
            <td><a href="/{{Course.id}}/details">{{Course.name}}</a></td>
            <td>{{Course.years}}</td>
        </tr>
        {% endfor %}
    </table>

    <p><a class='btn btn-primary' href="/newcourse/">Add a course</a></p>

{% endif %}

{% endblock %}
