{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Group | {{detailedgroup.name}}{% endblock %}

{% block breadcrumb %}

	<ul class="breadcrumb">
	    <li>>> <a href="/">Dashboard</a><span class="divider">/</span></li>
	    <li><a href="/{{detailedgroup.assignment.course.id}}/details/">{{detailedgroup.assignment.course.name}}</a><span class="divider">/</span></li>
	    <li><a href="/assignments/{{detailedgroup.assignment.id}}/details/">{{detailedgroup.assignment.name}}</a><span class="divider">/</span></li>
	    <li class="active">Group {{detailedgroup.name}}</li>
  	</ul>

{% endblock %}

{% block content %}

	<div class="page-header">
		<h1>{{detailedgroup.name_id}}</h1>
	    <div class='infos pull-right'>
	    	<div class='members'>
			    <strong>Members</strong> 
		    	{% for user in detailedgroup.members.all %}
		    		<div class='user-balise'>{{user}}</div>
		    	{% endfor %}
		    </div>
	    </div>
  	</div>

	<div class='panel'>
		<h4>Group's files</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Uploader</th>
					<th>Size</th>
					<th>Upload date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for work in detailedgroup.work_list.all %}
					<tr>
			        	<td>{{ work.filename }}</td>
			        	<td>{{ work.uploader }}</td>
			        	{% load functions %}
			        	<td>{% number_human work.file.size %} Octets</td>
			        	<td>{{ work.editdate }}</td>
			        	<td><a href='/works/{{ work.id }}/download'><i class='icon-download'></i></a></td>
			        	<td><a data-target='#DeleteWorkModal{{work.id}}' data-toggle="modal"><i class="icon-remove"></i></a></td>
					</tr>
					<div class="modal hide" id="DeleteWorkModal{{work.id}}">
					  <div class="modal-header">
					    <button type="button" class="close" data-dismiss="modal">×</button>
					    <h3>Delete the file</h3>
					  </div>
					  <div class="modal-body">
					    <p>Are you sure you want to delete this work ?</p>
					  </div>
					  <div class="modal-footer">
					    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
					    <a href="/works/{{work.id}}/delete" class="btn btn-danger">Delete</a>
					  </div>
					</div>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}


{% block scripts %}
	<script>
		$('#person-modal').on('show', function (event) {
	        name = $(this).data('modal').options.person
	        $(this).find('.person').html(name)
	    })
    </script>
{% endblock %}
