{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Group | {{detailedgroup.name}}{% endblock %}

{% block breadcrumb %}

	<ul class="breadcrumb">
		<div class='swift'>
	    <li>>> <a href="/">Dashboard</a><span class="divider">/</span></li>
	    <li><a href="/{{detailedgroup.assignment.course.id}}/details/">{{detailedgroup.assignment.course.name}}</a><span class="divider">/</span></li>
	    <li><a href="/assignments/{{detailedgroup.assignment.id}}/details/">{{detailedgroup.assignment.name}}</a><span class="divider">/</span></li>
	    <li class="active">Group {{detailedgroup.name}}</li>

	  </div>
  </ul>

{% endblock %}

{% block content %}

	<div class="page-header">
		<h1>{{detailedgroup.name_id}}</h1>
	    <div class='infos pull-right'>
	    	<div class='members'>
			    <strong>Members</strong> 
		    	{% for user in detailedgroup.members.all %}
		    		<div class='user-balise'>{{user}}</div>
		    	{% endfor %}
		    </div>
	    </div>
  	</div>

	<div class='panel'>
		<h4>Group's files</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
					<th>Uploader</th>
					<th>Size</th>
					<th>Upload date</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for work in detailedgroup.work_list.all %}
					<tr>
	        	<td>{{ work.filename }}</td>
	        	<td>{{ work.uploader }}</td>
	        	<td>{{ work.file.size }} Octets</td>
	        	<td>{{ work.editdate }}</td>
	        	<td><a href="/works/{{ work.id }}/delete"><i class="icon-remove"></i></a><a href='/works/{{ work.id }}/download'><i class='icon-download'></i></a> </td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
