{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Assignment | {{detailedassignment.name}}{% endblock %}

{% block breadcrumb %}

	<ul class="breadcrumb">
		<div class='swift'>
	    <li>>> <a href="/">Dashboard</a><span class="divider">/</span></li>
	    <li><a href="/{{detailedassignment.course.id}}/details/">{{detailedassignment.course}}</a><span class="divider">/</span></li>
	    <li class="active">{{detailedassignment.name}}</li>
	  </div>
  </ul>

{% endblock %}

{% block content %}

  <div class="page-header">
  	<div class='row'>
			<h1 class='span7'>{{detailedassignment.name}} <small>{{detailedassignment.description}}</small>
			</h1>

	    <div class='infos pull-right'>
		    <strong>Last edit</strong> {{detailedassignment.editdate}}
		    <strong>Teachers</strong> 
	    	{% for admin in detailedassignment.admins.all %}
	    				{{admin.username}}
	    	{% endfor %}
	    </div>
  	</div>
  </div>
	
		{% if user == detailedassignment.course.owner %}
			<div class="row">
				<div class='span8 panel'>
					{% if detailedassignment.group_set.all %}
						<table class="table table-striped">
							<thead>
								<tr>
									<th><h4>Groups :</h4></th>
									<th>Members</th>
								</tr>
							</thead>
							<tbody>
								{% for group in detailedassignment.group_set.all %}
									<tr>
					        	<td><a href="/groups/{{group.id}}/details/">{{group.name_id}}</a></td>
					        	<td>
					        		{% for user in group.members.all %}
					        			<div class='user-balise'>{{user.username}}</div>
					        		{% endfor %}
					        	</td>
									</tr>
								{% endfor %}
									<tr>
										<td>Without group</td>
										<td>
											{% for student in groupless %}
												<div class='user-balise'>{{student.username}}</div>
											{% endfor %}
										</td>
									</tr>
							</tbody>
						</table>
					{% else %}
						<a href="/groups/{{detailedassignment.id}}/edit/">Create groups</a>
					{% endif %}
					</div>
					<div class='span3 panel'>
						<ul class="nav nav-list">
					        <li class="nav-header">Administration</li>
					        <li><a href="/groups/{{detailedassignment.id}}/edit/"><i class="icon-briefcase"></i> Change groups</a></li>
					        <li><a href="/assignments/{{detailedassignment.id}}/edit/"><i class="icon-pencil"></i> Edit</a></li>
					        <li><a href="#DeleteAssignmentModal" data-toggle="modal"><i class="icon-remove-sign"></i> Delete</a></li>
					  </ul>
					</div>
				</div>

		{% else %}

			<div class="row">
				<div class='span8 panel'>
					<h4>Group's files</h4>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Uploader</th>
								<th>Size</th>
								<th>Upload date</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for work in groupwork %}
								<tr>
				        	<td>{{ work.filename }}</td>
				        	<td>{{ work.uploader }}</td>
				        	<td>{{ work.file.size }} Octets</td>
				        	<td>{{ work.editdate }}</td>
				        	<td><a href='/works/{{ work.id }}/download'><i class='icon-download'></i></a></td>
				        	<td><a data-target='#DeleteWorkModal{{work.id}}' data-toggle="modal"><i class="icon-remove"></i></a></td>
								</tr>
								<div class="modal hide" id="DeleteWorkModal{{work.id}}">
								  <div class="modal-header">
								    <button type="button" class="close" data-dismiss="modal">×</button>
								    <h3>Delete the file</h3>
								  </div>
								  <div class="modal-body">
								    <p>Are you sure you want to delete your work ?</p>
								  </div>
								  <div class="modal-footer">
								    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
								    <a href="/works/{{work.id}}/delete" class="btn btn-danger">Delete</a>
								  </div>
								</div>
							{% endfor %}
						</tbody>
					</table>
					{% if not nogroup %}
						<hr>
						<h4>Upload</h4>
						<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
								{{form.file}}
						<input type="submit" value="Submit" class='btn btn-primary' />
					{% endif %}
				</div>

				<div class = 'span3 panel'>
						{% if nogroup %}
							You have not got any group
						{% else %}
							<p><strong>Group {{ mygroup.name }}</strong></p>
							<hr>
						{% for member in mygroup.members.all %}
					  	<div class='user-balise'>{{member}}</div>
						{% endfor %}
				</div>
			</div>
		{% endif %}


	{% endif %}

	{% if detailedassignment.deadline %}
		<div class='deadline'>Deadline : {{detailedassignment.deadline}}</div>
	{% endif %}

{% endblock %}


{% block modals %}

	<div class="modal hide" id="DeleteAssignmentModal">
	  <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">×</button>
	    <h3>Delete the assignment</h3>
	  </div>
	  <div class="modal-body">
	    <p>Are you sure you want to delete this assignment ? Groups, uploaded content will be deleted too..</p>
	  </div>
	  <div class="modal-footer">
	    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
	    <a href="/assignments/{{detailedassignment.id}}/delete/" class="btn btn-danger">Delete</a>
	  </div>
	</div>
	
{% endblock %}

{% block scripts %}
{% endblock %}
