{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Group | {{detailedgroup.name}}{% endblock %}

{% block breadcrumb %}

	<ul class="breadcrumb">
		<div class='swift'>
	    <li>>> <a href="/">Dashboard</a><span class="divider">/</span></li>
	    <li><a href="/{{detailedgroup.assignment.course.id}}/details/">{{detailedgroup.assignment.course.name}}</a><span class="divider">/</span></li>
	    <li><a href="/assignments/{{detailedgroup.assignment.id}}/details/">{{detailedgroup.assignment.name}}</a><span class="divider">/</span></li>
	    <li class="active">Group {{detailedgroup.name}}</li>

	  </div>
  </ul>

{% endblock %}

{% block content %}

	<h1>Details of the assignment :</h1>

	<ul>
	    <li>Name : {{detailedgroup.name}}
	    <li>Members : {% for student in detailedgroup.members.all %}{{student.username}}{% endfor %}
	</ul>

{% endblock %}
