{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Assignment | {{detailedassignment.name}}{% endblock %}

{% block content %}

	<ul class="breadcrumb">
    <li><a href="/">Dashboard</a><span class="divider">/</span></li>
    <li><a href="/{{detailedassignment.course.id}}/details/">{{detailedassignment.course}}</a><span class="divider">/</span></li>
    <li class="active">{{detailedassignment.name}}</li>
  </ul>

  <div class="page-header">
		<h1>{{detailedassignment.name}}</h1>
	</div>

  <div class="row">
    <div class='span5'>
			<ul>
		    <li>Description : {{detailedassignment.description}}
		    <li>Deadline : {{detailedassignment.deadline}}
		    <li>Last edit : {{detailedassignment.editdate}}
		    <li>Admins : 
		    	{% for admin in detailedassignment.admins.all %}
		    				{{admin.username}}
		    	{% endfor %}
			</ul>
		</div>

			{% if user == detailedassignment.course.owner %}

				<div class='span5 '>
					<h3>Groups :</h3>
					{% if detailedassignment.group_set.all %}
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Name</th>
									<th>Members</th>
								</tr>
							<thead>
							{% for group in detailedassignment.group_set.all %}
								<tbody>
									<tr>
					        	<td><a href="/groups/{{group.id}}/details/">{{group.name}}</a></td>
					        	<td>
					        		{% for user in group.members.all %}
					        			{{user.username}} | 
					        		{% endfor %}
					        	</td>
									</tr>
								</tbody>
							{% endfor %}
						</table>
					{% else %}
						<a href="/groups/{{detailedassignment.id}}/add/">Create groups</a>
					{% endif %}
	
					<h2>Administration :</h2>
					<p><a href="/assignments/{{detailedassignment.id}}/edit/">Edit the assignment</a></p>
					<p><a href="/assignments/{{detailedassignment.id}}/delete/">Delete</a></p>
				</div>

			{% else %}

				<div class = 'span5'>
					<dl class="dl-horizontal">
						<dt>Your group :</dt>
						{% if nogroup %}
						<dd>You havn't got any group</dd>
						{% else %}
						<dd>Group {{ mygroup.name }}</dd>
						<dt>Members :</dt>
						{% for member in mygroup.members.all %}
					  <dd>{{ member }}</dd>
						{% endfor %}
					</dl>
				</div>
	</div>

				<h2>Files :</h2>

				<table class="table table-striped">
					<thead>
						<tr>
							<th>Name</th>
							<th>Size</th>
							<th>Upload date</th>
						</tr>
					</thead>
					{% for work in groupwork %}
						<tbody>
							<tr>
			        	<td>{{ work.file.name }}</td>
			        	<td>{{ work.file.size }} Octet</td>
			        	<td>{{ work.editdate }}</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>

				<div class='span4 offset3'>
					<form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
						{{form.file}}
					<input type="submit" value="Submit" class='btn btn-primary pull-right' />
				</div>
			{% endif %}

	{% endif %}

{% endblock %}
