{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Create groups | {{editedassignment.name}}{% endblock %}

{% block breadcrumb %}

	<ul class="breadcrumb">
		<div class='swift'>
			<li>>> <a href="/">Dashboard</a><span class="divider">/</span></li>
			<li><a href="/{{editedassignment.course.id}}/details/">{{editedassignment.course.name}}</a><span class="divider">/</span></li>
			<li><a href="/assignments/{{editedassignment.id}}/details/">{{editedassignment.name}}</a><span class="divider">/</span></li>
			<li class="active">Edit groups</li>
	  </div>
  </ul>

{% endblock %}

{% block content %}

	<div class='row'>
		<div class='span5 panel users_box'>
			<h4>Users</h4>
			<hr>
			<p></p>
			<div id='users'>
				<div class='drop_zone'>
					{% for user in editedassignment.course.subscribed.all %}
						<div draggable="true" class='user-balise' name='user' id='{{user}}'>{{user}}</div>
					{% endfor %}
				</div>
			</div>
			<hr>
			<a onClick='newgroup()' class="btn"><i class="icon-plus"></i> New group</a>
			<a onClick='deletegroup()' class="btn"><i class="icon-remove"></i> Delete group</a>
		</div>
		<div class='span6 offset5 panel pull-right' id='groups'>
			<h4>Groups</h4>
			<hr>
	  	<div class="panel_drop" name='group'  id="group1">
	  			<h5>Group 1</h5>
	  			<div class='drop_zone'></div>
	  	</div>
	  </div>
	</div>

{% endblock %}

{% block scripts%}

	<script>
		/* Start events listening on existing elements */
	  document.getElementById('users').addEventListener("dragstart", dragStartHandler, false);
	  document.getElementById('groups').addEventListener("dragstart", dragStartHandler, false);

	  document.getElementById('users').addEventListener("dragenter", dragEnterHandler, false);
		document.getElementById('groups').addEventListener("dragenter", dragEnterHandler, false);

	  document.getElementById('users').addEventListener("drop", dropHandler, false);
		document.getElementById('users').addEventListener("dragover", dragOverHandler, false);

		var nb_groups = document.getElementsByName('group').length;

		for(var i=1;i<=nb_groups;i++){
		 	document.getElementById('group'+i).addEventListener("drop", dropHandler, false);
		 	document.getElementById('group'+i).addEventListener("dragover", dragOverHandler, false);
		}

	  function dragStartHandler(event) {
	      /* Allow Drag and Drop's type "move" */
	      event.dataTransfer.effectAllowed = 'move';
	      /* Set the valiue of the data as the id of moved target */
	      event.dataTransfer.setData('Text', event.target.id);
	      return false;
	  }

	  function dragEnterHandler(event) {
	      /* Avoid selection of text by the browser */
	      event.preventDefault();
	      return false;
	  }

	  function dragOverHandler(event) {
      /* Control if it's the good target */
      if ((event.target.name == 'group') && (event.target != document.getElementById('users'))) {
          return false;
      } else {
      		/* Avoid selection of text by the browser */
          event.preventDefault();
          /* Avoid selection of text by the browser */
          event.dataTransfer.dropEffect = 'move';
      }
      return false;
	  }

	  function dropHandler(event) {
	  	/* Avoid the lunch of a httprequest on firefox */
	  	event.preventDefault();
      /* Move data to parent DOM */
      event.target.appendChild(document.getElementById(event.dataTransfer.getData('Text')));
      /* Stop impact of the child creation */
      event.stopPropagation();
      return false;
	  }

	  function newgroup() {
	  	/* Get the number of elements with name : 'group' to 
	  	 automatically increase the number of groups */ 
			var nb = document.getElementsByName('group').length + 1;

			/* Create a new div element with its attributes */
			div = document.createElement("div");
			div.id = 'group'+nb;
			div.className = 'panel_drop';
			div.setAttribute('name', 'group');
			div.innerHTML += '<h5>Group '+nb+'</h5>';
			div.innerHTML += '<div class=\'drop_zone\'></div>';
			document.getElementById('groups').appendChild(div);
			/* Start events listening on new div */
			div.addEventListener("drop", dropHandler, false);
			div.addEventListener("dragover", dragOverHandler, false);
		}

		function deletegroup() {
			/* Get the number of elements with name : 'group' to 
	  	 automatically increase the number of groups */ 
			var nb = document.getElementsByName('group').length;
			document.getElementById('groups').removeChild(document.getElementById('group'+nb));

		}


	</script>

{% endblock %}