{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Create groups | {{editedassignment.name}}{% endblock %}

{% block breadcrumb %}
  {% load functions %}
  {% breadcrumb BREADCRUMB_LIST %}
{% endblock %}

{% block content %}

	<div class='row'>
		<div class='span5 panel users_box'>
			<h4>Users</h4>
			<hr>
			<p></p>
			<div id='users'>
				<div class='drop_zone'>
					{% for user in editedassignment.course.subscribed.all %}
						<div draggable="true" class='user-balise' name='user' id='{{user}}'>{{user}}</div>
					{% endfor %}
				</div>
			</div>
			<hr>
			<a onClick='newgroup()' class="btn"><i class="icon-plus"></i> New group</a>
			<a onClick='deletegroup()' class="btn"><i class="icon-remove"></i> Delete group</a>
			<a href='/groups/{{editedassignment.id}}/userasgroup/' class="btn">Users as groups</a>
		</div>
		<div class='span6 offset5 panel pull-right' id='groups'>
			<h4>Groups</h4>
			<hr>
	  	<div class="panel_drop" name='group'  id="group1">
	  			<h5>Group 1</h5>
	  			<div class='drop_zone'></div>
	  	</div>
	  </div>
	</div>

{% endblock %}

{% block scripts %}
	<script>

	</script>
{% endblock %}
