{% extends "base_log.html" %}
{% load url from future %}
{% block title %}List of courses{% endblock %}

{% block content %}
<a href="/">Return to dashboard</a>

<h1>List of courses</h1>

<table>
    <tr>
    <thead>
        <th>Name</th>
        <th>Teacher</th>
        <th>Year</th>
    <thead>
    </tr>
{% for Course in course_list %}
    <tr>
        <td><a href="/{{Course.id}}/details">{{Course.name}}</a></td>
        <td>{{Course.owner}}</td>
        <td>{{Course.years}}</td>
    </tr>
{% endfor %}
</table>

{% endblock %}
