{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Course | {{detailedcourse.name}}{% endblock %}

{% block content %}

<a href="/mycourses/">My courses</a>

<h1>Details of a course</h1>

<ul>
    <li>Name : {{detailedcourse.name}}
    <li>Owner : {{detailedcourse.owner}}
    <li>Description : {{detailedcourse.description}}
    <li>Years : {{detailedcourse.years}}
    <li>Last edit : {{detailedcourse.editdate}}
</ul>

<h2>Assignments :</h2>
{% for assignment in assignments %}
	<p>{{ assignment.name }}</p>
{% endfor %}


{% if user == detailedcourse.owner %}
<h2>Subscribed users :</h2>
	{% for subscribed in subscribed %}
		<p>{{ subscribed.user.username }}</p>
	{% endfor %}
{% endif %}


{% endblock %}
