{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Edit a course{% endblock %}

{% block content %}
<a href="/mycourses/">My courses</a>

<h1>Edit course</h1>
    
<form action="/{{editedcourse.id}}/editcourse/" method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

<p><a href="/{{editedcourse.id}}/changeowner/">Change the owner</a></p>
<p><a href="/{{editedcourse.id}}/addstudents/">Add students to the course</a></p>

{% endblock %}
