{% extends "base_log.html" %}
{% load url from future %}
{% block title %}My courses{% endblock %}

{% block content %}


{% if user.userprofile.status = 'Teacher' %}
    <h1>My courses</h1>

    <table>
        <tr>
        <thead>
            <th>Name</th>
            <th>Teacher</th>
            <th>Year</th>
        <thead>
        </tr>
    {% for Course in mycourse_list %}
        <tr>
            <td><a href="/{{Course.id}}/details">{{Course.name}}</a></td>
            <td>{{Course.owner}}</td>
            <td>{{Course.years}}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

{% endblock %}
