{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Assignment | {{detailedassignment.name}}{% endblock %}

{% block content %}

<a href="/{{detailedassignment.course.id}}/details/">Retour to the course</a>

<h1>Details of the assignment :</h1>

<ul>
    <li>Name : {{detailedassignment.name}}
    <li>Course : {{detailedassignment.course}}
    <li>Description : {{detailedassignment.description}}
    <li>Deadline : {{detailedassignment.deadline}}
    <li>Last edit : {{detailedassignment.editdate}}
    <li>Admins : {% for admin in detailedassignment.admins.all %}
    				{{admin.username}}{% endfor %}
</ul>

{% if user == detailedassignment.course.owner %}
<h2>Groups :</h2>
	
<table>
	<tr>
		<thead>
		<th>Name</th>
		<th>Members</th>
		<thead>
	</tr>
	{% for group in detailedassignment.group_set.all %}
	<tr>
        <td><a href="/groups/{{group.id}}/details/">{{group.name}}</a></td>
        <td>{% for user in group.members.all %}{{user.username}} | {% endfor %}</td>
	</tr>
	{% empty %}
	No groups ! <a href="/groups/{{detailedassignment.id}}/add/">Create groups</a>
	{% endfor %}
</table>

<h2>Administration :</h2>

<p><a href="/assignments/{{detailedassignment.id}}/edit/">Edit the assignment</a></p>
<p><a href="/assignments/{{detailedassignment.id}}/delete/">Delete</a></p>

{% else %}

<h2>Your group :</h2>
Group {{ mygroup.name }}
<ul>
    {% for member in mygroup.members.all %}
    <li>{{ member }}
    {% endfor %}
</ul>
{% endif %}


{% endblock %}
