{% extends "base_log.html" %}
{% load url from future %}
{% block title %}Assignment | {{detailedassignment.name}}{% endblock %}

{% block content %}
<a href="/{{detailedassignment.course.id}}/details/">The course</a>

<h1>Details of the assignment :</h1>

<ul>
    <li>Name : {{detailedassignment.name}}
    <li>Course : <a href="/{{detailedassignment.course.id}}/details/">{{detailedassignment.course}}</a>
    <li>Description : {{detailedassignment.description}}
    <li>Deadline : {{detailedassignment.deadline}}
    <li>Last edit : {{detailedassignment.editdate}}
</ul>

{% if user == detailedassignment.course.owner %}
<a href="/assignments/{{detailedassignment.id}}/edit/">Edit the assignment</a>
{% endif %}
{% endblock %}
